*.ko
*.o
*.mod
*.mod.c
.*.cmd
*.pkg.tar.*
__pycache__/
camera/virtual-camera/build/
camera/packaging/libcamera/src/
camera/packaging/libcamera/pkg/
camera/packaging/libcamera/libcamera/
camera/packaging/libcamera/build/
*.log
core
core.*
