*.ko
*.o
*.mod
*.mod.c
.*.cmd
*.pkg.tar.*
__pycache__/
camera/virtual-camera/build/
camera/packaging/libcamera/src/
camera/packaging/libcamera/pkg/
camera/packaging/libcamera/libcamera/
camera/packaging/libcamera/build/
*.log
core
core.*
camera/packaging/surface5-camera-dkms/src/
camera/packaging/surface5-camera-dkms/pkg/
camera/packaging/surface5-camera-dkms/dw9719.c
camera/packaging/surface5-camera-dkms/ov8865.c
camera/packaging/surface5-camera-dkms/ov5693.c
